# Practice Notebook for Stackoverflow Survey

In [8]:
# !pip install opendatasets
# !pip install pandas

In [9]:
import opendatasets as od

#from https://github.com/JovianML/opendatasets

In [16]:
# help(od)

In [17]:
# od.download('stackoverflow-developer-survey-2020')

# # Covid-19 Stats by Our World in Data (https://github.com/owid/covid-19-data/tree/master/public/data):
# od.download('owid-covid-19-latest')

In [18]:
import os

In [19]:
os.listdir('stackoverflow-developer-survey-2020')

['README.txt', 'survey_results_schema.csv', 'survey_results_public.csv']

In [20]:
import pandas as pd

In [21]:
survey_raw_df = pd.read_csv('stackoverflow-developer-survey-2020/survey_results_public.csv')

In [22]:
survey_raw_df.sample(5)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
48524,49531,"I am not primarily a developer, but I write co...",Yes,NaN,NaN,NaN,NaN,NaN,United States,United States dollar,...,Easy,Too long,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,NaN,NaN
2675,2688,I am a developer by profession,Yes,32.0,17,Yearly,75000.0,75000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Spring;Vue.js,Angular;Angular.js;Django;Laravel;Spring;Vue.js,Just as welcome now as I felt last year,40.0,6,1
2331,2341,I am a developer by profession,Yes,43.0,20,Monthly,2950.0,35400.0,Bangladesh,United States dollar,...,Easy,Too long,No,NaN,Django;Flask;React.js;Vue.js,Express;jQuery;Laravel;Vue.js,Just as welcome now as I felt last year,30.0,23,13
47730,48729,"I am not primarily a developer, but I write co...",Yes,39.0,10,NaN,NaN,NaN,Sweden,Swedish krona,...,Easy,Appropriate in length,No,"A business discipline (such as accounting, fin...",Express;React.js,Django;Express;Flask;React.js,Just as welcome now as I felt last year,45.0,4,3
1424,1430,I am a developer by profession,No,31.0,14,Yearly,67500.0,51051.0,Canada,Canadian dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js;Spring,Spring,Just as welcome now as I felt last year,38.0,16,10

In [23]:
survey_results_schema_df = pd.read_csv('stackoverflow-developer-survey-2020/survey_results_schema.csv', index_col='Column')

In [24]:
survey_results_schema_df.loc['Age']

QuestionText    What is your age (in years)? If you prefer not...
Name: Age, dtype: object

In [25]:
def question(col_name):
    '''Get full question from column name.'''
    print(col_name, '-', survey_results_schema_df.loc[col_name][0])

In [26]:
question('ConvertedComp')

ConvertedComp - Salary converted to annual USD salaries using the exchange rate on 2020-02-19, assuming 12 working months and 50 working weeks.

In [27]:
# Make series from Schema df:
 
schema_raw = survey_results_schema_df.QuestionText

In [28]:
schema_raw['Age1stCode']

'At what age did you write your first line of code or program? (e.g., webpage, Hello World, Scratch project)'

In [29]:
import jovian

In [30]:
filename = 'practice-stackoverflow-survey.ipynb'
jovian.commit(filename=filename)

[jovian] Attempting to save notebook..
[jovian] Uploading notebook..
[jovian] Capturing environment..
[jovian] Error: Failed to read Anaconda environment using command: "conda env export -n base --no-builds"
[jovian] Committed successfully! https://jovian.ai/aleksmn/practice-stackoverflow-survey

'https://jovian.ai/aleksmn/practice-stackoverflow-survey'

## Data Preparation & Cleaning

In [31]:
selected_columns = [
    # Demographics
    'Country',
    'Age',
    'Gender',
    'EdLevel',
    'UndergradMajor',
    # Programming experience
    'Hobbyist',
    'Age1stCode',
    'YearsCode',
    'YearsCodePro',
    'LanguageWorkedWith',
    'LanguageDesireNextYear',
    'NEWLearn',
    'NEWStuck',
    # Employment
    'Employment',
    'DevType',
    'WorkWeekHrs',
    'JobSat',
    'JobFactors',
    'NEWOvertime',
    'NEWEdImpt'
]

In [32]:
len(selected_columns)

20

In [33]:
survey_df = survey_raw_df[selected_columns].copy()

In [36]:
survey_df.shape

(64461, 20)

In [38]:
schema = schema_raw[selected_columns]

In [40]:
schema['YearsCode']

'Including any education, how many years have you been coding in total?'

In [41]:
survey_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 64072 non-null  object
 1   Age                     45446 non-null  float64
 2   Gender                  50557 non-null  object
 3   EdLevel                 57431 non-null  object
 4   UndergradMajor          50995 non-null  object
 5   Hobbyist                64416 non-null  object
 6   Age1stCode              57900 non-null  object
 7   YearsCode               57684 non-null  object
 8   YearsCodePro            46349 non-null  object
 9   LanguageWorkedWith      57378 non-null  object
 10  LanguageDesireNextYear  54113 non-null  object
 11  NEWLearn                56156 non-null  object
 12  NEWStuck                54983 non-null  object
 13  Employment              63854 non-null  object
 14  DevType                 49370 non-null  object
 15  WorkWeekHrs             41151 non-null  float64
 16  JobSat                  45194 non-null  object
 17  JobFactors              49349 non-null  object
 18  NEWOvertime             43231 non-null  object
 19  NEWEdImpt               48465 non-null  object
dtypes: float64(2), object(18)
memory usage: 9.8+ MB