In [2]:
import numpy as np

In [1]:
from urllib.request import urlretrieve

In [2]:
italy_covid_url = 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv'
urlretrieve(italy_covid_url, 'italy-covid-daywise-2.csv')

('italy-covid-daywise-2.csv', <http.client.HTTPMessage at 0x7f21461f5ac0>)

In [3]:
import pandas as pd

In [4]:
covid_df = pd.read_csv('italy-covid-daywise.csv')

In [6]:
covid_df.tail()

           date  new_cases  new_deaths  new_tests
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

In [7]:
type(covid_df)

pandas.core.frame.DataFrame

In [13]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

In [14]:
covid_df.describe()

         new_cases  new_deaths     new_tests
count   248.000000  248.000000    135.000000
mean   1094.818548  143.133065  31699.674074
std    1554.508002  227.105538  11622.209757
min    -148.000000  -31.000000   7841.000000
25%     123.000000    3.000000  25259.000000
50%     342.000000   17.000000  29545.000000
75%    1371.750000  175.250000  37711.000000
max    6557.000000  971.000000  95273.000000

In [17]:
covid_df['new_cases']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [25]:
covid_df['new_cases'][240]

1366.0

In [26]:
covid_df.at[240, 'new_tests']

57640.0

In [29]:
covid_df.new_cases[200]

231.0

In [35]:
[covid_df.new_cases[x] for x in range(200, 210)]

[231.0, 249.0, 218.0, 190.0, 128.0, 280.0, 306.0, 252.0, 274.0, 254.0]

In [46]:
covid_df.new_cases[230:]

230     477.0
231     320.0
232     401.0
233     642.0
234     840.0
235     947.0
236    1071.0
237    1209.0
238     953.0
239     876.0
240    1366.0
241    1409.0
242    1460.0
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, dtype: float64

In [53]:
covid_df[['date', 'new_cases']][-5:]

           date  new_cases
243  2020-08-30     1444.0
244  2020-08-31     1365.0
245  2020-09-01      996.0
246  2020-09-02      975.0
247  2020-09-03     1326.0

In [57]:
# Get random data

covid_df.sample(10)

           date  new_cases  new_deaths  new_tests
148  2020-05-27      397.0        78.0    37299.0
4    2020-01-04        0.0         0.0        NaN
132  2020-05-11      802.0       165.0    25823.0
168  2020-06-16      301.0        26.0    27762.0
160  2020-06-08      197.0        53.0    16301.0
123  2020-05-02     1965.0       269.0    31231.0
215  2020-08-02      295.0         5.0    24496.0
190  2020-07-08      137.0        30.0    28679.0
133  2020-05-12      744.0       179.0    39620.0
212  2020-07-30      288.0         6.0    33396.0

In [61]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]