In [2]:
import numpy as np

In [3]:
from urllib.request import urlretrieve

In [4]:
italy_covid_url = 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv'
urlretrieve(italy_covid_url, 'italy-covid-daywise-2.csv')

('italy-covid-daywise-2.csv', <http.client.HTTPMessage at 0x7f7e7e74df10>)

In [5]:
import pandas as pd

In [6]:
covid_df = pd.read_csv('italy-covid-daywise.csv')

In [7]:
covid_df.tail()

           date  new_cases  new_deaths  new_tests
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

In [8]:
type(covid_df)

pandas.core.frame.DataFrame

In [9]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

In [10]:
covid_df.describe()

         new_cases  new_deaths     new_tests
count   248.000000  248.000000    135.000000
mean   1094.818548  143.133065  31699.674074
std    1554.508002  227.105538  11622.209757
min    -148.000000  -31.000000   7841.000000
25%     123.000000    3.000000  25259.000000
50%     342.000000   17.000000  29545.000000
75%    1371.750000  175.250000  37711.000000
max    6557.000000  971.000000  95273.000000

In [11]:
covid_df['new_cases']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [12]:
covid_df['new_cases'][240]

1366.0

In [13]:
covid_df.at[240, 'new_tests']

57640.0

In [14]:
covid_df.new_cases[200]

231.0

In [15]:
[covid_df.new_cases[x] for x in range(200, 210)]

[231.0, 249.0, 218.0, 190.0, 128.0, 280.0, 306.0, 252.0, 274.0, 254.0]

In [16]:
covid_df.new_cases[230:]

230     477.0
231     320.0
232     401.0
233     642.0
234     840.0
235     947.0
236    1071.0
237    1209.0
238     953.0
239     876.0
240    1366.0
241    1409.0
242    1460.0
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, dtype: float64

In [17]:
covid_df[['date', 'new_cases']][-5:]

           date  new_cases
243  2020-08-30     1444.0
244  2020-08-31     1365.0
245  2020-09-01      996.0
246  2020-09-02      975.0
247  2020-09-03     1326.0

In [18]:
# Get random data

covid_df.sample(10)

           date  new_cases  new_deaths  new_tests
122  2020-05-01     1872.0       285.0    43732.0
155  2020-06-03      318.0        55.0    20035.0
145  2020-05-24      669.0       119.0    34206.0
177  2020-06-25      577.0       -31.0    29421.0
126  2020-05-05     1221.0       195.0    32211.0
194  2020-07-12      188.0         7.0    23061.0
153  2020-06-01      355.0        75.0    18053.0
164  2020-06-12      379.0        53.0    37651.0
33   2020-02-02        0.0         0.0        NaN
21   2020-01-21        0.0         0.0        NaN

In [23]:
covid_df.loc[153:160]

           date  new_cases  new_deaths  new_tests
153  2020-06-01      355.0        75.0    18053.0
154  2020-06-02      178.0        60.0    25628.0
155  2020-06-03      318.0        55.0    20035.0
156  2020-06-04      321.0        71.0    27451.0
157  2020-06-05      177.0        88.0    40470.0
158  2020-06-06      518.0        85.0    34036.0
159  2020-06-07      270.0        72.0    27894.0
160  2020-06-08      197.0        53.0    16301.0

In [26]:
total_cases = covid_df.new_cases.sum()
total_deaths = covid_df.new_deaths.sum()

In [27]:
total_cases, total_deaths

(271515.0, 35497.0)

**Q: What is the overall death rate (ratio of reported deaths to reported cases)?**

In [31]:
death_rate = covid_df.new_deaths.sum() /covid_df.new_cases.sum()

In [35]:
print("The overall death rate in Italy is {:.2f}%".format(death_rate*100))

The overall death rate in Italy is 13.07%

**Q: What is the overall number of tests conducted? A total of 935310 tests were conducted before daily test numbers were reported.**

In [36]:
initial_tests = 935310
total_tests = initial_tests + covid_df.new_tests.sum()

In [37]:
total_tests

5214766.0

In [41]:
high_new_cases = covid_df.new_cases > 1000

In [42]:
high_new_cases

0      False
1      False
2      False
3      False
4      False
       ...
243     True
244     True
245    False
246    False
247     True
Name: new_cases, Length: 248, dtype: bool

In [51]:
covid_df[high_new_cases]

           date  new_cases  new_deaths  new_tests
68   2020-03-08     1247.0        36.0        NaN
69   2020-03-09     1492.0       133.0        NaN
70   2020-03-10     1797.0        98.0        NaN
72   2020-03-12     2313.0       196.0        NaN
73   2020-03-13     2651.0       189.0        NaN
..          ...        ...         ...        ...
241  2020-08-28     1409.0         5.0    65135.0
242  2020-08-29     1460.0         9.0    64294.0
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
247  2020-09-03     1326.0         6.0        NaN

[72 rows x 4 columns]

In [60]:
covid_df.sort_values('new_cases', ascending=True).head(10)

           date  new_cases  new_deaths  new_tests
172  2020-06-20     -148.0        47.0    29875.0
0    2019-12-31        0.0         0.0        NaN
29   2020-01-29        0.0         0.0        NaN
30   2020-01-30        0.0         0.0        NaN
32   2020-02-01        0.0         0.0        NaN
33   2020-02-02        0.0         0.0        NaN
34   2020-02-03        0.0         0.0        NaN
36   2020-02-05        0.0         0.0        NaN
37   2020-02-06        0.0         0.0        NaN
38   2020-02-07        0.0         0.0        NaN

In [59]:
# help(covid_df.sort_values)

In [61]:
covid_df.loc[169:175]

           date  new_cases  new_deaths  new_tests
169  2020-06-17      210.0        34.0    33957.0
170  2020-06-18      328.0        43.0    32921.0
171  2020-06-19      331.0        66.0    28570.0
172  2020-06-20     -148.0        47.0    29875.0
173  2020-06-21      264.0        49.0    24581.0
174  2020-06-22      224.0        24.0    16152.0
175  2020-06-23      221.0        23.0    23225.0

In [62]:
covid_df.at[172, 'new_cases'] = (covid_df.at[171, 'new_cases'] + covid_df.at[173, 'new_cases'])/2

In [63]:
covid_df.loc[169:175]

           date  new_cases  new_deaths  new_tests
169  2020-06-17      210.0        34.0    33957.0
170  2020-06-18      328.0        43.0    32921.0
171  2020-06-19      331.0        66.0    28570.0
172  2020-06-20      297.5        47.0    29875.0
173  2020-06-21      264.0        49.0    24581.0
174  2020-06-22      224.0        24.0    16152.0
175  2020-06-23      221.0        23.0    23225.0