In [37]:
import numpy as np

In [38]:
from urllib.request import urlretrieve

In [39]:
italy_covid_url = 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv'
urlretrieve(italy_covid_url, 'italy-covid-daywise-2.csv')

('italy-covid-daywise-2.csv', <http.client.HTTPMessage at 0x7f5cabb07af0>)

In [40]:
import pandas as pd

In [41]:
covid_df = pd.read_csv('italy-covid-daywise.csv')

In [42]:
covid_df.tail()

           date  new_cases  new_deaths  new_tests
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

In [43]:
type(covid_df)

pandas.core.frame.DataFrame

In [44]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

In [45]:
covid_df.describe()

         new_cases  new_deaths     new_tests
count   248.000000  248.000000    135.000000
mean   1094.818548  143.133065  31699.674074
std    1554.508002  227.105538  11622.209757
min    -148.000000  -31.000000   7841.000000
25%     123.000000    3.000000  25259.000000
50%     342.000000   17.000000  29545.000000
75%    1371.750000  175.250000  37711.000000
max    6557.000000  971.000000  95273.000000

In [46]:
covid_df['new_cases']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [47]:
covid_df['new_cases'][240]

1366.0

In [48]:
covid_df.at[240, 'new_tests']

57640.0

In [49]:
covid_df.new_cases[200]

231.0

In [50]:
[covid_df.new_cases[x] for x in range(200, 210)]

[231.0, 249.0, 218.0, 190.0, 128.0, 280.0, 306.0, 252.0, 274.0, 254.0]

In [51]:
covid_df.new_cases[230:]

230     477.0
231     320.0
232     401.0
233     642.0
234     840.0
235     947.0
236    1071.0
237    1209.0
238     953.0
239     876.0
240    1366.0
241    1409.0
242    1460.0
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, dtype: float64

In [52]:
covid_df[['date', 'new_cases']][-5:]

           date  new_cases
243  2020-08-30     1444.0
244  2020-08-31     1365.0
245  2020-09-01      996.0
246  2020-09-02      975.0
247  2020-09-03     1326.0

In [53]:
# Get random data

covid_df.sample(10)

           date  new_cases  new_deaths  new_tests
225  2020-08-12      412.0         6.0    27330.0
147  2020-05-26      300.0        92.0    33944.0
31   2020-01-31        3.0         0.0        NaN
137  2020-05-16      789.0       242.0    40657.0
172  2020-06-20     -148.0        47.0    29875.0
209  2020-07-27      254.0         5.0    19374.0
94   2020-04-03     4668.0       760.0        NaN
110  2020-04-19     3491.0       480.0        NaN
194  2020-07-12      188.0         7.0    23061.0
85   2020-03-25     5249.0       743.0        NaN

In [54]:
covid_df.loc[153:160]

           date  new_cases  new_deaths  new_tests
153  2020-06-01      355.0        75.0    18053.0
154  2020-06-02      178.0        60.0    25628.0
155  2020-06-03      318.0        55.0    20035.0
156  2020-06-04      321.0        71.0    27451.0
157  2020-06-05      177.0        88.0    40470.0
158  2020-06-06      518.0        85.0    34036.0
159  2020-06-07      270.0        72.0    27894.0
160  2020-06-08      197.0        53.0    16301.0

In [55]:
total_cases = covid_df.new_cases.sum()
total_deaths = covid_df.new_deaths.sum()

In [56]:
total_cases, total_deaths

(271515.0, 35497.0)

**Q: What is the overall death rate (ratio of reported deaths to reported cases)?**

In [57]:
death_rate = covid_df.new_deaths.sum() /covid_df.new_cases.sum()

In [58]:
print("The overall death rate in Italy is {:.2f}%".format(death_rate*100))

The overall death rate in Italy is 13.07%

**Q: What is the overall number of tests conducted? A total of 935310 tests were conducted before daily test numbers were reported.**

In [59]:
initial_tests = 935310
total_tests = initial_tests + covid_df.new_tests.sum()

In [60]:
total_tests

5214766.0

In [61]:
high_new_cases = covid_df.new_cases > 1000

In [62]:
high_new_cases

0      False
1      False
2      False
3      False
4      False
       ...
243     True
244     True
245    False
246    False
247     True
Name: new_cases, Length: 248, dtype: bool

In [63]:
covid_df[high_new_cases]

           date  new_cases  new_deaths  new_tests
68   2020-03-08     1247.0        36.0        NaN
69   2020-03-09     1492.0       133.0        NaN
70   2020-03-10     1797.0        98.0        NaN
72   2020-03-12     2313.0       196.0        NaN
73   2020-03-13     2651.0       189.0        NaN
..          ...        ...         ...        ...
241  2020-08-28     1409.0         5.0    65135.0
242  2020-08-29     1460.0         9.0    64294.0
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
247  2020-09-03     1326.0         6.0        NaN

[72 rows x 4 columns]

In [64]:
covid_df.sort_values('new_cases', ascending=True).head(10)

           date  new_cases  new_deaths  new_tests
172  2020-06-20     -148.0        47.0    29875.0
0    2019-12-31        0.0         0.0        NaN
29   2020-01-29        0.0         0.0        NaN
30   2020-01-30        0.0         0.0        NaN
32   2020-02-01        0.0         0.0        NaN
33   2020-02-02        0.0         0.0        NaN
34   2020-02-03        0.0         0.0        NaN
36   2020-02-05        0.0         0.0        NaN
37   2020-02-06        0.0         0.0        NaN
38   2020-02-07        0.0         0.0        NaN

In [65]:
# help(covid_df.sort_values)

In [66]:
covid_df.loc[169:175]

           date  new_cases  new_deaths  new_tests
169  2020-06-17      210.0        34.0    33957.0
170  2020-06-18      328.0        43.0    32921.0
171  2020-06-19      331.0        66.0    28570.0
172  2020-06-20     -148.0        47.0    29875.0
173  2020-06-21      264.0        49.0    24581.0
174  2020-06-22      224.0        24.0    16152.0
175  2020-06-23      221.0        23.0    23225.0

In [67]:
covid_df.at[172, 'new_cases'] = (covid_df.at[171, 'new_cases'] + covid_df.at[173, 'new_cases'])/2

In [68]:
covid_df.loc[169:175]

           date  new_cases  new_deaths  new_tests
169  2020-06-17      210.0        34.0    33957.0
170  2020-06-18      328.0        43.0    32921.0
171  2020-06-19      331.0        66.0    28570.0
172  2020-06-20      297.5        47.0    29875.0
173  2020-06-21      264.0        49.0    24581.0
174  2020-06-22      224.0        24.0    16152.0
175  2020-06-23      221.0        23.0    23225.0

## Working with dates

In [69]:
covid_df['date']

0      2019-12-31
1      2020-01-01
2      2020-01-02
3      2020-01-03
4      2020-01-04
          ...
243    2020-08-30
244    2020-08-31
245    2020-09-01
246    2020-09-02
247    2020-09-03
Name: date, Length: 248, dtype: object

In [70]:
covid_df['date'] = pd.to_datetime(covid_df.date)

In [104]:
# help(pd.to_datetime)

In [71]:
covid_df['date']## Working with dates

0     2019-12-31
1     2020-01-01
2     2020-01-02
3     2020-01-03
4     2020-01-04
         ...
243   2020-08-30
244   2020-08-31
245   2020-09-01
246   2020-09-02
247   2020-09-03
Name: date, Length: 248, dtype: datetime64[ns]

In [74]:
covid_df['year'] = pd.DatetimeIndex(covid_df.date).year
covid_df['month'] = pd.DatetimeIndex(covid_df.date).month
covid_df['day'] = pd.DatetimeIndex(covid_df.date).day
covid_df['weekday'] = pd.DatetimeIndex(covid_df.date).weekday

In [75]:
covid_df

          date  new_cases  new_deaths  new_tests  year  month  day  weekday
0   2019-12-31        0.0         0.0        NaN  2019     12   31        1
1   2020-01-01        0.0         0.0        NaN  2020      1    1        2
2   2020-01-02        0.0         0.0        NaN  2020      1    2        3
3   2020-01-03        0.0         0.0        NaN  2020      1    3        4
4   2020-01-04        0.0         0.0        NaN  2020      1    4        5
..         ...        ...         ...        ...   ...    ...  ...      ...
243 2020-08-30     1444.0         1.0    53541.0  2020      8   30        6
244 2020-08-31     1365.0         4.0    42583.0  2020      8   31        0
245 2020-09-01      996.0         6.0    54395.0  2020      9    1        1
246 2020-09-02      975.0         8.0        NaN  2020      9    2        2
247 2020-09-03     1326.0         6.0        NaN  2020      9    3        3

[248 rows x 8 columns]

In [79]:
# Query for month
covid_df[covid_df.month == 5][['new_cases', 'new_deaths', 'new_tests']].sum()

new_cases       29073.0
new_deaths       5658.0
new_tests     1078720.0
dtype: float64

In [80]:
covid_df[covid_df.month == 5][['new_cases', 'new_deaths', 'new_tests']].describe()

         new_cases  new_deaths     new_tests
count    31.000000   31.000000     31.000000
mean    937.838710  182.516129  34797.419355
std     458.224843   91.088188   7403.552952
min     300.000000   50.000000  13665.000000
25%     617.500000  118.000000  31307.500000
50%     802.000000  165.000000  37049.000000
75%    1274.000000  239.000000  40032.000000
max    1965.000000  474.000000  45428.000000

## Grouping and aggregation

In [94]:
covid_month_df = covid_df.groupby('month')[['new_cases','new_deaths','new_tests']]

In [95]:
covid_month_df.sum()

       new_cases  new_deaths  new_tests
month
1            3.0         0.0        0.0
2          885.0        21.0        0.0
3       100851.0     11570.0        0.0
4       101852.0     16091.0   419591.0
5        29073.0      5658.0  1078720.0
6         8217.5      1404.0   830354.0
7         6722.0       388.0   797692.0
8        21060.0       345.0  1098704.0
9         3297.0        20.0    54395.0
12           0.0         0.0        0.0

In [101]:
covid_month_df.mean()

         new_cases  new_deaths     new_tests
month
1         0.096774    0.000000           NaN
2        30.517241    0.724138           NaN
3      3253.258065  373.225806           NaN
4      3395.066667  536.366667  38144.636364
5       937.838710  182.516129  34797.419355
6       273.916667   46.800000  27678.466667
7       216.838710   12.516129  25732.000000
8       679.354839   11.129032  35442.064516
9      1099.000000    6.666667  54395.000000
12        0.000000    0.000000           NaN

In [105]:
locations_df = pd.read_csv('locations.csv')

In [106]:
locations_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,3.892834e+07,64.83,0.500,1803.987
1,Albania,Europe,2.877800e+06,78.57,2.890,11803.431
2,Algeria,Africa,4.385104e+07,76.88,1.900,13913.839
3,Andorra,Europe,7.726500e+04,83.73,NaN,NaN
4,Angola,Africa,3.286627e+07,61.15,NaN,5819.495
...,...,...,...,...,...,...
207,Yemen,Asia,2.982597e+07,66.12,0.700,1479.147
208,Zambia,Africa,1.838396e+07,63.89,2.000,3689.251
209,Zimbabwe,Africa,1.486293e+07,61.49,1.700,1899.775
210,World,NaN,7.794799e+09,72.58,2.705,15469.207
211,International,NaN,NaN,NaN,NaN,NaN

In [141]:
locations_df.query("continent=='Europe' and population > 100000").sort_values('life_expectancy', ascending=False).tail()

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
157,Russia,Europe,145934460.0,72.58,8.05,24765.954
196,Ukraine,Europe,43733759.0,72.06,8.80,7894.393
126,Moldova,Europe,4033963.0,71.90,5.80,5189.972
100,Jersey,Europe,101073.0,NaN,NaN,NaN
104,Kosovo,Europe,1932774.0,NaN,NaN,9795.834

In [125]:
locations_df.columns

Index(['location', 'continent', 'population', 'life_expectancy',
       'hospital_beds_per_thousand', 'gdp_per_capita'],
      dtype='object')